<mat-card>
    <button mat-raised-button (click)="submit()" color="lime">Submit</button>

            <div
        cdkDropList
        #unselectedList="cdkDropList"
        [cdkDropListData]="leaderboard"
        [cdkDropListConnectedTo]="[leaderboardList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of leaderboard" cdkDrag>{{item.name}}</div>
    </div>

    <div
        cdkDropList
        #leaderboardList="cdkDropList"
        [cdkDropListData]="unselectedTeams"
        [cdkDropListConnectedTo]="[unselectedList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of unselectedTeams" cdkDrag>{{item.name}}</div>
    </div>

</mat-card>
